.teaser-heading {
  padding: 1.8rem 0 0.5rem 0;
  position: relative;
  z-index: 5;
  .logo {
    display: inline-block;
    width: 9rem;

    img {
      max-width: 100%;
    }
  }
  @media (min-width: 600px) {
    padding: 3.6rem 0 0.5rem 0;
    .logo {
      width: 8rem;
    }
  }
}


