.section-actions {
  background-color: $color-dark;
  .section-layer {
    flex-direction: column;
    justify-content: center;
    margin-top: -8rem;
    pointer-events: none;
  }
  .actions {
    &__content {
      position: relative;
      padding: 1.8rem 1.8rem 3.9rem 1.8rem;
    }

    &__blur-spot {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      position: absolute;
      background-color: #d7ff38;
      filter: blur(50px);
      top: 5rem;
      right: 3rem;
      z-index: 0;
    }

    &__title {
      color: #fff;
      margin-bottom: 1.8rem;
    }

    &__steps {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .steps {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &__container {
      height: 72.4rem;
      width: 33rem;
      background-image: url(../img/page/actions-mob.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &__item {
      color: #fff;
      font-family: $font1;
      max-width: 65%;
      display: flex;
      align-items: center;
      a {
        color: #fff;
      }
      p {
        margin: 0;
      }

      &_bottom {
        align-self: flex-end;
        padding-right: 2rem;
      }

      &_top {
        padding-left: 2rem;
      }
      &.step-1 {
        height: 16.5%;
        align-content: center;
      }
      &.step-2 {
        max-width: 68%;
        height: 16.5%;
        align-content: center;
      }
      &.step-3 {
        height: 23.5%;
        align-content: center;
      }
      &.step-4 {
        height: 14.5%;
        align-content: center;
      }
      &.step-5 {
        height: 15.5%;
        align-content: center;
      }
    }
  }
  .actions-content {
    border-radius: 1.8rem;
    background: #38ffa6;
    box-shadow: 0px 0.4rem 2rem 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3.6rem;
    overflow: hidden;
    &__text {
      position: relative;
      z-index: 5;
      order: 2;
      overflow: hidden;
      p {
        font-family: $font1;
        margin: 0;
      }
    }

    &__title {
      margin-bottom: 1.2rem;
    }

    &__image {
      order: 1;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 5;
    }
  }

  .actions {
    &__button {
      background-color: #38ffa6;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      display: flex;
      justify-content: center;
      .btn {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }

  @media (min-width: 600px) {
    .section-layer {
      margin-top: -12rem;
      padding-bottom: 5rem;
      .actions {
        &__content {
          padding: 4.8rem 1.8rem 4.8rem 9.5rem;
          order: 0;
        }

        &__title {
          color: #fff;
          order: 2;
          text-align: center;
        }

        &__steps {
          width: 100%;
          order: 1;
          margin-bottom: 9rem;
          img {
            width: 100%;
          }
        }
      }
      .actions-content {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 3.6rem;
        overflow: hidden;

        &__text {
          max-width: 60%;
          position: relative;
          z-index: 5;
          order: 1;
          overflow: hidden;
          margin-right: 2.9rem;

          p {
            font-family: $font1;
            margin: 0;
            font-size: 2.2rem;
            line-height: 2.8rem;
          }
        }

        &__title {
          margin-bottom: 1.8rem;
        }

        &__image {
          order: 2;
          position: relative;
          width: 40%;
          min-height: 100%;
          z-index: 5;
          img {
            position: absolute;
            display: block;
            max-width: 100%;
            left: 0;
            bottom: 50%;
            transform: translate(0, 50%);
          }
        }
      }
    }
    .actions {
      &__button {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
      }
    }
    .steps {
      flex-direction: row;
      width: 100%;
      margin-bottom: -10%;

      &__container {
        height: 24vw;
        max-width: 114.3rem;
        width: 100%;
        background-image: url(../img/page/actions-desc.png);
        background-repeat: no-repeat;
        background-size: 95%;
        display: flex;
        align-items: flex-end;
      }
      &__item {
        color: #fff;
        font-family: $font1;
        max-width: 65%;
        display: flex;
        align-items: flex-start;
        height: 100%;
        text-align: center;
        font-size: clamp(1.6rem, 1.5vw, 1.2rem);
        a {
          color: #fff;
        }
        p {
          margin: 0;
          max-width: 100%;
        }

        &_bottom {
          margin-bottom: -12%;
          padding-right: 0;
        }

        &_top {
          align-items: flex-start;
          padding: 0;
          padding-top: 2rem;
        }
        &.step-1 {
          max-width: none;
          height: 100%;
          width: 17rem;
          width: 13%;
          align-content: center;
        }
        &.step-2 {
          max-width: none;
          width: 27rem;
          height: 100%;
          width: 20%;
          align-content: center;
        }
        &.step-3 {
          max-width: none;
          width: 28rem;
          height: 100%;
          max-width: 26rem;
          width: 23%;
          align-content: center;
        }
        &.step-4 {
          max-width: none;
          width: 22rem;
          height: 100%;
          width: 15%;
          align-content: center;
        }
        &.step-5 {
          max-width: none;
          width: 20rem;
          height: 100%;
          width: 15%;
          align-content: center;
        }
        &.step-6 {
          max-width: none;
          width: 20rem;
          height: 100%;
          width: 15%;
          align-content: center;
        }
      }
    }
  }
}
