.invest{
  &.promoblock {
    padding-top: 3.6rem;
  }
  .promoblock-pic-layer {
    display: none;
  }

  @media (min-width: $tablet) {
    padding-top: 8rem;

    .promoblock-pic-layer {
      display: block;
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      width: 60%;
      img {
        display: block;
        width: 100%;
        float: right;
      }
    }
  }
}
